@font-face {
    font-family: osrs; 
    src: url(./fonts/osrs.woff) format('truetype');
}

html {
    background-color: #1E1E1E;
}



#app {
    font-family: osrs;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
    background-color: #1E1E1E;
}

#close{
    position: absolute;
    right: 8px;
    top: 7px;
}


#container {
    background-color: #161616;
    padding-left: 3px;
    padding-bottom: 5px;
    z-index: 5;
}

#container:hover{
    background-color: rgba(255, 0, 0, 0.397);
}

#menu {
    position: fixed; 
    background-color: #161616;
    width: 48px;
    padding-left: 10px;
    top: 0px;
    left: 88px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    color: white;
    height: 40px;
}

#titlebar {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #161616;
    z-index: 0;
    margin-top: 0;
    width: 100%;
    -webkit-app-region: drag;
    border: 1px solid #121213;
    border-top: 0px;
}

#titlebar a {
    float: right;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 10px;
}

#menu h1 {
    font-size: 18px;
}

#flip {
    -webkit-transform: scaleX(-1);
}
